@{
    ViewData["Title"] = "Dashboard";
}

<h2>Overview</h2>

<div class="grid">
    <div class="card-devops">
        <h4>Total Pipelines</h4>
        <h2>12</h2>
    </div>

    <div class="card-devops">
        <h4>Success Rate</h4>
        <h2 class="success">92%</h2>
    </div>

    <div class="card-devops">
        <h4>Failures</h4>
        <h2 class="failed">2</h2>
    </div>
</div>

<h3>Pipeline Stages</h3>

<div class="grid">
    <div class="card-devops">
        <h4>Build</h4>
        <p>Compilation complete</p>
        <span class="success">✔ Success</span>
    </div>

    <div class="card-devops">
        <h4>Test</h4>
        <p>Running tests</p>
        <span class="running">⏳ Running</span>
    </div>

    <div class="card-devops">
        <h4>Deploy</h4>
        <p>Waiting deployment</p>
        <span class="failed">⚠ Pending</span>
    </div>
</div>